[Desktop Entry]
Type=Application
Name=JDownloader
Comment=JDownloader is a free, open-source download management tool
Icon=org.jdownloader.JDownloader
Exec=jd-wrapper -- %u
Categories=Network;
