[Desktop Entry]
Categories=Network
Comment=JDownloader is a free download management tool
Exec=jd-wrapper -- %u
Icon=org.jdownloader.JDownloader
Name=JDownloader
Type=Application
StartupWMClass=org-jdownloader-update-launcher-JDLauncher
